.about {

    &__superteam-row {
    }

    &__superteam-item {
    }
}

.subtitle {
    font-family: 'Kaushan Script';
    font-style: normal;
    font-weight: 400;
    font-size: 30px;
    color: #2D3033;
}

.title {
}
.discription {
}
