@import url('https://fonts.googleapis.com/css2?family=Kaushan+Script&family=Montserrat:wght@700&family=Raleway:wght@400;500;600;700;900&display=swap');

.container{
    max-width: 1170px;
    width: 100%;
    margin: auto;
}

h2, h1, h3, p {
    margin: 0;
 }

body {
    box-sizing: border-box;
  }
  *, *:before, *:after {
    box-sizing: inherit;
  }

.header {
    max-height: 100px;
    height: 100%;

    &__logo {
        max-width: 96px;
        width: 100%;
        padding-top: 42px;
        padding-bottom: 32px;
    }

    &__content{
        display: flex;
        justify-content: space-between;
    }

    &__menu {
        display: flex;
    }

    &__item{
        display: flex;
        align-items: center;
        justify-content: center;
        border-bottom: 1px solid rgba(244, 191, 135, 0);

    }

    &__item p{
        font-family: 'Raleway';
        font-style: normal;
        font-weight: 600;
        font-size: 14px;
        line-height: 16px;
        text-transform: uppercase;  
        color: #FFFFFF;
        min-width: 114px;
        width: 100%;
        display: flex;
        align-items: center;
        justify-content: center;
        border-bottom: 1px solid rgba(244, 191, 135, 0);
    }

    &__item p:hover{
        color: #F4BF87;
        border-bottom: 1px solid rgba(244, 191, 135, 1);
        transition: 0.3;
    }

    &__item-icon{
        max-width: 24px;
        width: 100%;
        align-items: center;
        margin: 0 17px;
    }


    &__item-icon:last-child{
        padding-right: 0;
    }
}

.banner {


    &__fon {
        background: -webkit-linear-gradient(0deg, rgb(237, 215, 137) 10%, rgb(233, 130, 131) 90%);
        background: -moz-linear-gradient(0deg, rgb(237, 215, 137) 10%, rgb(233, 130, 131) 90%);
        background: linear-gradient(0deg, rgb(237, 215, 137) 10%, rgb(233, 130, 131) 90%);
        background-repeat: no-repeat;
        position: absolute;
        opacity: 0.9;
        top: 0;
        left: 0;
        max-width: 1510px;
        width: 100%;
        max-height: 1024px;
        min-height: 1024px;
        height: 100%;
    }

	&__img-fon{
        position: relative;
        max-height: 1024px;
        height: 100%;
        padding: 0;
        margin: 0;
        max-width: 1510px;
        width: 100%;
        

        // background-repeat: no-repeat;
        // background-size: cover;
        // background-position: center center;
        // background-attachment: fixed;
	}

    &__discription{
        margin-top: 77px;
    }

    &__discription h2{
        font-family: 'Kaushan Script';
        font-style: normal;
        font-weight: 400;
        font-size: 64px;
        text-align: center;
        color: #FFFFFF;
        margin: 0;
    }


    &__title h1{
        margin: 0;
        font-family: 'Montserrat';
        font-style: normal;
        font-weight: 700;
        font-size: 144px;
        line-height: 176px;
        text-align: center;
        text-transform: uppercase;
        color: rgba(255, 255, 255, 1);
        position: relative;
        margin-bottom: 44px;
    }

    &__title::after{
        content: '';
        max-width: 170px;
        width: 100%;
        height: 4px;
        background: #fff;
        display: block;
        position: absolute;
        left: 0;
        right: 0;
        margin: auto;
    }

    &__button {
        margin-top: 118px;
        display: flex;
        align-items: center;
        justify-content: center;
    }

    &__button button{
        cursor: pointer;
        border: 4px solid #FFFFFF;
        max-width: 370px;
        height: 77px;
        width: 100%;
        background: none;
    }

    &__button a{
        font-family: 'Raleway';
        font-style: normal;
        font-weight: 700;
        font-size: 24px;
        text-align: center;
        text-transform: uppercase;
        color: #FFFFFF;
        text-decoration: none;
    }

    &__button button:hover{
        background-color: #FFFFFF;
    }

    &__button a:hover{
        color: #F4BF87;
    }

    &__slider {
    }
}





